.caja{
    height: 300px;
    width: 320px;
    
    }
    .mesgran{
     height: 500px!important;
     width: 450px!important;


    }

    .foto{

        height: 260px;
        width: 449px;
    }
    .color{
        background-color: white;
    }
    