<body class="color">
  

<div class="container  color mt-5 mb-5">
  <div class="row">
    <div class="col">
      <div class="card mesgran" style="width: 18rem;">
  <img class="card-img-top foto" src="assets\img\avengers.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">El Universo Marvel es el universo ficticio general en el que tienen lugar la mayoría de las historias de cómics publicadas por Marvel Comics. El término se usa a menudo para referirse a la continuidad principal de Marvel conocida como Tierra 616; pero a veces también se usa para referirse al Marvel Multiverse, que consiste en todas las diferentes series que aparecen en las publicaciones de Marvel Comics.</p>
  </div>
</div>

    </div>
    <div class="col">
      <div class="card mesgran" style="width: 18rem;">
        <img class="card-img-top foto" src="assets\img\dcheroes.jpeg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">El Universo DC engloba todos los títulos publicados por DC Comics, es el universo de ficción en el que todos los personajes de la editorial conviven entre sí. Esto ayuda a darle coherencia y sentido de la continuidad a las historias. Los personajes ficticios Superman , Batman y la Mujer Maravilla son superhéroes famosos de este universo.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>




