<div class="container mb-5">
  <div class="row">
    <div class="col-4">
      <h2 class=" mt-3">{{nombreDetalle|uppercase}} ({{aparicionDetalle|date:'y'}}) </h2>
      <img class="imagen" src="{{imgDetalle}}"  alt="...">
      <br>
      <button type="button"  class="btn btn-outline-danger mt-3 moverboton " [routerLink]="['/heroes'] " >Regresar</button>
    </div>
    <div class="col mt-5">
      <h4>{{nombreDetalle}}</h4>
      <hr>
      <p>{{bioDetalle}}</p>
      <div *ngIf="imgCasa=='Marvel'">
        <img class="lacasaM" src="assets\img\marvel.png"  alt="...">
      </div>
      <div *ngIf="imgCasa=='DC'">
        <img  class="lacasaDC" src="assets\img\DC.jpg"  alt="...">
      </div>
      

    </div>
  </div>
</div>